<div class="legal pure-g-r">
    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-license">
                이 사이트는 Pure v{{pure_version}}를 사용해서 &lt;3으로 만들어졌다.
            </p>
            <p class="legal-license">
                이 사이트의 모든 코드는 다른 명시가 없다면 <a href="http://yuilibrary.com/license/">BSD License</a>를 따른다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-5">
        <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/">
                <img src="/img/logo-footer.png" height="30" width="65"
                     alt="YUI logo">
            </a>
        </div>
    </div>

    <div class="pure-u-2-5">
        <div class="l-box">
            <ul class="legal-links pure-g">
                <li class='pure-u-1-2'>
                    <a href="https://github.com/yui/pure/">GitHub Project</a>
                </li>
                <li class='pure-u-1-2'>
                    <a href="http://yuilibrary.com/security/">Security Contact Info</a>
                </li>
            </ul>

            <p class="legal-copyright">
                &copy; {{copyright_year}} Yahoo! Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>
