<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>#</th>
            <th>제조사</th>
            <th>모델</th>
            <th>연도</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>혼다</td>
            <td>어코드</td>
            <td>2009</td>
        </tr>

        <tr>
            <td>2</td>
            <td>도요타</td>
            <td>캠리</td>
            <td>2012</td>
        </tr>

        <tr>
            <td>3</td>
            <td>현대</td>
            <td>엘란트라</td>
            <td>2010</td>
        </tr>
    </tbody>
</table>
