<table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>제조사</th>
            <th>모델</th>
            <th>연도</th>
        </tr>
    </thead>

    <tbody>
        <tr class="pure-table-odd">
            <td>1</td>
            <td>혼다</td>
            <td>어코드</td>
            <td>2009</td>
        </tr>

        <tr>
            <td>2</td>
            <td>도요타</td>
            <td>캠리</td>
            <td>2012</td>
        </tr>

        <tr class="pure-table-odd">
            <td>3</td>
            <td>현대</td>
            <td>엘란트라</td>
            <td>2010</td>
        </tr>

        <tr>
            <td>4</td>
            <td>포드</td>
            <td>포커스</td>
            <td>2008</td>
        </tr>

        <tr class="pure-table-odd">
            <td>5</td>
            <td>닛산</td>
            <td>센트라</td>
            <td>2011</td>
        </tr>

        <tr>
            <td>6</td>
            <td>BMW</td>
            <td>M3</td>
            <td>2009</td>
        </tr>

        <tr class="pure-table-odd">
            <td>7</td>
            <td>혼다</td>
            <td>시빅</td>
            <td>2010</td>
        </tr>

        <tr>
            <td>8</td>
            <td>기아</td>
            <td>소울</td>
            <td>2010</td>
        </tr>
    </tbody>
</table>
