<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>사진 갤러리 레이아웃 예제 - Pure</title>

    






<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">





<link rel="stylesheet" href="/pure-site/css/layouts/gallery.css">




    
<script src="http://use.typekit.net/ajf8ggy.js"></script>
<script>
    try { Typekit.load(); } catch (e) {}
</script>


    

</head>
<body>




<div class="content pure-g-r">
    <div class="header pure-u-1">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">사진 갤러리</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div class="content pure-u-1">
        <div class="pure-g-r">
            <div class="pure-u-1-3 photo-box">
                <a href="http://www.flickr.com/photos/95572727@N00/4070581709/">
                    <img src="http://farm3.staticflickr.com/2447/4070581709_1204f25e3b.jpg"
                         alt="Photo of a Bamboo forest in Kyoto.">
                </a>

                <aside class="photo-box-caption">
                    The Bamboo Forest, Kyoto
                    <span>
                        by <a href="http://www.flickr.com/photos/95572727@N00/4070581709/">Stuck in Customs</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-2-3 text-box">
                <div class="l-box">
                    <h1 class="text-box-head">전세계의 사진들</h1>
                    <p class="text-box-subhead">플리커의 아름다운 사진 콜렉션.</p>
                </div>
            </div>

            <div class="pure-u-1-3 photo-box">
                <a href="http://www.flickr.com/photos/ecstaticist/4015614533/">
                    <img src="http://farm3.staticflickr.com/2785/4015614533_3e04ac2c7d.jpg"
                         alt="Photo of Dahlia taken using an HDR technique.">
                </a>

                <aside class="photo-box-caption">
                    HDR Dahlia
                    <span>
                        by <a href="http://www.flickr.com/photos/ecstaticist/4015614533/">ecstaticist</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-1-3 photo-box">
                <a href="http://www.flickr.com/photos/blmiers2/6159637428/">
                    <img src="http://farm7.staticflickr.com/6151/6159637428_6bffb5bce1.jpg"
                         alt="Photo of a misty morning sunrise in Alaska.">
                </a>

                <aside class="photo-box-caption">
                    Misty Morning Sunrise, Alaska
                    <span>
                        by <a href="http://www.flickr.com/photos/blmiers2/6159637428/">blmiers2</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-1-3 photo-box">
                <a href="http://www.flickr.com/photos/blmiers2/6167391543/">
                    <img src="http://farm7.staticflickr.com/6171/6167391543_395a7cabfd.jpg"
                         alt="Photo of a mountain in Alaska's Denali.">
                </a>

                <aside class="photo-box-caption">
                    Mountain, Alaska's Denali
                    <span>
                        by <a href="http://www.flickr.com/photos/blmiers2/6159637428/">blmiers2</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-2-3 photo-box">
                <a href="http://www.flickr.com/photos/jjjohn/2120309884/">
                    <img src="http://farm3.staticflickr.com/2109/2120309884_de48fdb9fe.jpg"
                         alt="Photo of Earth's sky.">
                </a>

                <aside class="photo-box-caption">
                    Fire, Air, Earth and Water
                    <span>
                        by <a href="http://www.flickr.com/photos/jjjohn/2120309884/">jjjohn</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-1-3 photo-box">
                <a href="http://www.flickr.com/photos/betta_design/2086852016/">
                    <img src="http://farm3.staticflickr.com/2388/2086852016_5a58dd1881.jpg"
                         alt="Photo of the Taj Mahal at sunset.">
                </a>

                <aside class="photo-box-caption">
                    Taj Mahal at sunset
                    <span>
                        by <a href="http://www.flickr.com/photos/betta_design/2086852016/">betta_design</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>
                    </span>
                </aside>
            </div>

            <div class="pure-u-1 form-box">
                <div class="l-box">
                    <h2>사진 보내기</h2>

                    <form class="pure-form">
                        <input type="text" placeholder="Photo URL" required>
                        <input type="text" placeholder="Email">
                        <button type="submit" class="pure-button">전송</button>
                    </form>
                </div>
            </div>

            <div class="pure-u-1">
                <div class="l-box">
                    <h2>사진 갤러리 레이아웃 만들기</h2>

                    <p>
                        이 페이지는 <a href="/pure-site/grids.html">Pure 그리드</a>를 써서 어떻게 사진 갤러리를 만들 수 있는지 보여준다. Pure을 사용하면, 이 사진 갤러리같은 재미있는 레이아웃을 만들 수 있다. 이 레이아웃은 반응형을 완전히 지원한다. Pure에서 제공하는 반응형 그리드 위에 미디어 쿼리를 약간만 넣었을 뿐이다.
                    </p>

                    <p>
                        또한 <a href="/pure-site/forms.html">Pure 폼</a>과 <a href="/pure-site/menus.html">Pure 메뉴</a>의 장점도 가져왔다. 이 예제는 인라인 폼을 만들기 위해 <code>pure-form</code> 클래스이름을 폼에서 썼다. 버튼 스타일에는 <a href="/pure-site/buttons.html">Pure 버튼</a>을 썼다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer pure-u-1">
        더 많이 배우려면 소스를 보라. YUI팀이 애정을 담아 만들었다.
    </div>
</div>

<script src="http://yui.yahooapis.com/3.10.1/build/yui/yui.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('.content').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>



</body>
</html>
