<form class="pure-form">
    <fieldset>
        <legend>단순한 인라인 폼</legend>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="{{id 'remember'}}">
            <input id="{{id 'remember'}}" type="checkbox"> 기억하기
        </label>

        <button type="submit" class="pure-button notice">로그인</button>
    </fieldset>
</form>
