<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>빠르다</h3>
            <p>
                YUI의 경량 코어와 모듈화된 구조로 확장가능하고 빠르고 튼튼하게 만들 수 있다. 야후의 프론트엔드 엔지니어들이 만든 YUI는 전세계 많은 유명한 사이트들에서 구동된다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>완전하다</h3>
            <p>
                YUI의 직관적이고 좋은 문서가 있는 API를 통해 기본적인 DOM을 관리하며, 데스크탑 브라우져, 모바일 기기, 그리고 서버에서 퍼포먼스좋고 지속가능한 어플리케이션 개발을 할 수 있다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>현업으로 사용</h3>
            <p>
                활발한 커뮤니티를 통해 잘 구조화된 인프라와 종합적인 툴들로 간단한 웹페이지에서 복잡한 웹 어플리케이션까지 프로처럼 만들 수 있다.
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <h3>공짜며 오픈소스</h3>
            <p>
                YUI는 모든 사용에 있어서 무료이며 GitHub에서 오픈되어 개발되고 있다. 코어 팀 멤버들은 항상 포럼과 Freenode의 #yui IRC채널에서 찾을 수 있다. 리퀘스트는 환영!
            </p>
        </div>
    </div>

    <div class="pure-u-1 l-centered">
        <img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" class="pure-u"
             alt="반응형 이미지의 간단한 샘플">
    </div>

    <div class="pure-u-2-5">
        <div class="l-box">
            <h3>2/5 열</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum dui turpis.
            </p>
        </div>
    </div>

    <div class="pure-u-3-5">
        <div class="l-box">
            <h3>3/5 열</h3>
            <p>
                Quisque ac magna eget est porta varius ut eget quam. Curabitur tincidunt gravida nisl.
            </p>

            <p>
                Fusce accumsan, sem vitae tempus tempor, nulla lectus interdum felis, eget molestie urna mauris vel elit. Curabitur vel ipsum nulla.
            </p>
        </div>
    </div>
</div>
